{% extends 'cms_base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block orbitale_cms_page_content %}
    <h1>Hello! ✅</h1>

    <p>This is a demo of the <code>orbitale/cms-bundle</code> package.</p>

    <p>Feel free to access the list of pages right from the top menu, or the administration panel to create and update pages (contents are reset every 30 minutes).</p>
{% endblock %}
